@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This web application was created by BCIT Computer Systems Technology students in the Web and Mobile option:<br />
    <ul>
    <li>Maks Fisli</li>
    <li>Rachel Shellborn</li>
    <li>Shane Jackson</li>
    <li>Vincent Lam</li>
    </ul>
</p>
