
@{
    ViewBag.Title = "Opps";
}

<h2>View</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Not Found</title>
    <meta http-equiv="refresh" content="5;url=/" />
</head>
<body>
    <h1>Not Found</h1>
    <p>This bot needs an image to do its work. <br/> Redirecting to Home...</p>
</body>
</html>
